<header class="navbar-light fixed-top header-static bg-mode">
    <app-header></app-header>
  </header>
  <main>
    <div class="container-fluid">
       <div class="row g-4">
          <div class="col-lg-3">
             <app-series-picks></app-series-picks>
          </div>
          <div class="col-lg-7">
            <div class="mb-3">
               <a href="https://start.parimatch.com/pe/esports/secret/150/?adtag=u789813075adbc26a_b1788697407_c1575116165_d1420533395_e1980203782" rel="nofollow">
                  <img src="https://hawk.live/images/a/pm/large-pe-3105.gif" style="border-radius: 10px;width:100%;">
               </a>
            </div>
            <app-detail-content></app-detail-content>
          </div>
          <div class="col-lg-2">
            <div class="mb-3">
              <!-- <a href="https://start.parimatch.com/pe/esports/secret/150/?adtag=u789813075adbc26a_b1788697407_c1575116165_d1420533395_e1980203782" rel="nofollow">
                  <img src="https://hawk.live/images/a/pm/medium-pe-3105.gif" style="border-radius: 10px;">
               </a>
            -->
            </div>
            <!--<app-news></app-news> -->
          </div>
       </div>
    </div>
  </main>
  <app-footer></app-footer>