<div class="row g-4">
   <div class="col-sm-6 col-lg-12">
      <div class="card">
         <div class="card-header d-flex justify-content-between border-0">
            <h5 class="card-title">Series</h5>
            <span style="padding-top:2.5px;color:#fff;">Pinnacle Cup: Malta Vibes 4</span>
         </div>
         <div class="card-body">
            <div class="info-teams-container">
               <div class="info-teams-item">
                  <div class="series-teams-item__logo-container match-view-series__team-logo">
                     <img src="https://cdn.pandascore.co/images/team/image/126566/125px_flag_of_malaysia.svg.png" class="info-team-logo" loading="lazy">
                  </div>
                  <p class="mb-0 mt-3 small text-white name-team-width">Nemiga Gaming</p>
               </div>
               <div class="info-teams-result">
                  <div class="series-teams__primary-label">0 - 0</div>
                  <div class="series-teams__secondary-label">BO3</div>
               </div>
               <div class="info-teams-item">
                  <div class="series-teams-item__logo-container match-view-series__team-logo">
                     <img src="https://cdn.pandascore.co/images/team/image/133546/285px_flag_of_kyrgyzstan_4_by_3.png" class="info-team-logo" loading="lazy">
                  </div>
                  <p class="mb-0 mt-3 small text-white name-team-width">Yellow Submarine</p>
               </div>
            </div>
         </div>
      </div>
      <div class="col-sm-6 col-lg-12 mt-3">
         <div class="card">
            <div class="card-header d-sm-flex justify-content-between align-items-center border-0">
               <h5 class="card-title">Picks</h5>
            </div>
            <div class="card-body">
               <div class="list-picks-container">
                  <div>
                     <div class="pick-hero-draft-team">
                        <img src="https://cdn.pandascore.co/images/dota2/hero/image/124/muerta-png" width="64" height="36" loading="lazy">
                        <div class="pick-player-name small text-white">FV.Trilemma</div>
                     </div>
                     <div class="pick-hero-draft-team">
                        <img src="https://cdn.pandascore.co/images/dota2/hero/image/124/muerta-png" width="64" height="36" loading="lazy">
                        <div class="pick-player-name small text-white">FV.1Yato1</div>
                     </div>
                     <div class="pick-hero-draft-team">
                        <img src="https://cdn.pandascore.co/images/dota2/hero/image/124/muerta-png" width="64" height="36" loading="lazy">
                        <div class="pick-player-name small text-white">FV.NoRemorse</div>
                     </div>
                     <div class="pick-hero-draft-team">
                        <img src="https://cdn.pandascore.co/images/dota2/hero/image/124/muerta-png" width="64" height="36" loading="lazy">
                        <div class="pick-player-name small text-white">FV.BenzDance~</div>
                     </div>
                     <div class="pick-hero-draft-team">
                        <img src="https://cdn.pandascore.co/images/dota2/hero/image/124/muerta-png" width="64" height="36" loading="lazy">
                        <div class="pick-player-name small text-white">FV.Norbert</div>
                     </div>
                  </div>
                  <div>
                     <div class="pick-hero-draft-team pick-hero-draft-team-dire">
                        <img src="https://cdn.pandascore.co/images/dota2/hero/image/117/mars_full.png" width="64" height="36" class="pick-hero-dire" loading="lazy">
                        <div class="pick-player-name small text-white text-end">vP.RatnBone</div>
                     </div>
                     <div class="pick-hero-draft-team pick-hero-draft-team-dire">
                        <img src="https://cdn.pandascore.co/images/dota2/hero/image/117/mars_full.png" width="64" height="36" class="pick-hero-dire" loading="lazy">
                        <div class="pick-player-name small text-white text-end">vP.Pronto</div>
                     </div>
                     <div class="pick-hero-draft-team pick-hero-draft-team-dire">
                        <img src="https://cdn.pandascore.co/images/dota2/hero/image/117/mars_full.png" width="64" height="36" class="pick-hero-dire" loading="lazy">
                        <div class="pick-player-name small text-white text-end">vP.Shelby</div>
                     </div>
                     <div class="pick-hero-draft-team pick-hero-draft-team-dire">
                        <img src="https://cdn.pandascore.co/images/dota2/hero/image/117/mars_full.png" width="64" height="36" class="pick-hero-dire" loading="lazy">
                        <div class="pick-player-name small text-white text-end">vP.Helannt</div>
                     </div>
                     <div class="pick-hero-draft-team pick-hero-draft-team-dire">
                        <img src="https://cdn.pandascore.co/images/dota2/hero/image/117/mars_full.png" width="64" height="36" class="pick-hero-dire" loading="lazy">
                        <div class="pick-player-name small text-white text-end">vP.zikboss</div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>