<header class="navbar-light fixed-top header-static bg-mode">
    <app-header></app-header>
  </header>
  <main>
    <div class="container-fluid">
       <div class="row g-4">
          <div class="col-lg-3">
             <app-upcoming-matches></app-upcoming-matches>
          </div>
          <div class="col-lg-7">
            <div class="mb-3">
               <a href="https://gg.bet/es/dota2" target="_blank">
                  <img src="/assets/img/banner-ggbet-large-width.gif" style="border-radius: 10px;width:100%;">
               </a>
            </div>
             <app-live-recents></app-live-recents>
          </div>
          <div class="col-lg-2">
            <div class="mb-3" style="text-align: center;">
               <a href="https://gg.bet/es/dota2" target="_blank">
                  <img src="/assets/img/banner-ggbet-large-height.gif" style="border-radius: 10px;">
               </a>
            </div>
          </div>
       </div>
    </div>
  </main>
  <app-footer></app-footer>