<!-- Footer START -->
<footer class="pt-5 bg-mode">
  <div class="container">
    <div class="row g-4">
      <div class="col-sm-6 col-lg-3">
        <!-- Footer Widget -->
        <p class="mt-3">Match way these she avoids seeing death their fat off. </p>
      </div>
      <div class="col-sm-6 col-lg-3">
        <!-- Footer Widget -->
        <h5 class="mb-4">Help</h5>
        <ul class="nav flex-column">
          <li class="nav-item"><a class="nav-link pt-0" href="#">Deposit</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Withdrawal</a></li>
          <li class="nav-item"><a class="nav-link" href="#">FAQ</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Support</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Other</a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-lg-3">
        <!-- Footer Widget -->
        <h5 class="mb-4">Sports</h5>
        <ul class="nav flex-column">
          <li class="nav-item"><a class="nav-link pt-0" href="#">Live Betting</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Mobile App</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Mobile Version</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Cash Out</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Video Streams</a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-lg-3">
        <!-- Footer Widget -->
        <h5 class="mb-4">Payment Methods</h5>
        <ul class="nav flex-column">
          <li class="nav-item"><a class="nav-link pt-0" href="#"> Join</a></li>
          <li class="nav-item"><a class="nav-link" href="#"> Help Center</a></li>
        </ul>

        <h5 class="mb-4">Social Networks</h5>
        <ul class="nav flex-column">
          <li class="nav-item"><a class="nav-link pt-0" href="#"> Join</a></li>
          <li class="nav-item"><a class="nav-link" href="#"> Help Center</a></li>
        </ul>
      </div>
    </div>
  </div>
  <hr class="mb-0 mt-5">
  <div class="bg- light py-3">
    <div class="container">
      <div class="row">
      </div>
    </div>
  </div>
</footer>
<!-- Footer END -->