<!-- Footer START -->
<footer class="pt-5 bg-mode">
  <div class="container">
    <div class="row g-4">
      <div class="col-sm-6 col-lg-3">
        <a class="navbar-brand" routerLink="/home">
          <img class="light-mode-item navbar-brand-item" src="/assets/img/ggpedia-logo.png" alt="ggpedia">
          </a>
      </div>
      <div class="col-sm-6 col-lg-3">
        <h5 class="mb-2">INTERESTED?</h5>
        <h5 class="mb-2">LET'S GET IN TOUCH</h5>
      </div>
      <div class="col-sm-6 col-lg-3">
        <h5 class="mb-4">Contacto</h5>
        <ul class="nav flex-column">
          <li class="nav-item"><a class="nav-link pt-0" href="mailto:contact@mieladigital.com">contact@mieladigital.com</a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-lg-3">
        <h5 class="mb-4">Redes sociales</h5>
        <ul class="nav">
          <li class="nav-item"><a class="nav-link pt-0" href="https://www.linkedin.com/company/mieladigital" target="_blank"><img class="me-2 h-20px fa-fw" src="/assets/img/icon-linkedin.png" alt=""></a></li>
          <li class="nav-item"><a class="nav-link pt-0" href="https://www.instagram.com/mieladigital" target="_blank"><img class="me-2 h-20px fa-fw" src="/assets/img/icon-ig.png" alt=""></a></li>
        </ul>
      </div>
    </div>
  </div>
  <hr class="mb-0 mt-5">
  <div class="bg- light py-3">
    <div class="container">
      <div class="row">
      </div>
    </div>
  </div>
</footer>
<!-- Footer END -->